<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebAppProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>create_tables.createTables</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetUserInfo</display-name>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>servlets.GetUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/user/GetUserInfo/name/*</url-pattern>
    <url-pattern>/user/GetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>servlets.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/user/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllAnswers</display-name>
    <servlet-name>GetAllAnswers</servlet-name>
    <servlet-class>servlets.GetAllAnswers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllAnswers</servlet-name>
    <url-pattern>/answer/GetAllAnswers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostAnswer</display-name>
    <servlet-name>PostAnswer</servlet-name>
    <servlet-class>servlets.PostAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostAnswer</servlet-name>
    <url-pattern>/PostAnswer/id/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateAnswer</display-name>
    <servlet-name>RateAnswer</servlet-name>
    <servlet-class>servlets.RateAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateAnswer</servlet-name>
    <url-pattern>/RateAnswer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RateQuestion</display-name>
    <servlet-name>RateQuestion</servlet-name>
    <servlet-class>servlets.RateQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RateQuestion</servlet-name>
    <url-pattern>/RateQuestion/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllQuestions</display-name>
    <servlet-name>GetAllQuestions</servlet-name>
    <servlet-class>servlets.GetAllQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllQuestions</servlet-name>
    <url-pattern>/question/GetAllQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTop20NewQuestions</display-name>
    <servlet-name>GetTop20NewQuestions</servlet-name>
    <servlet-class>servlets.GetTop20NewQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTop20NewQuestions</servlet-name>
    <url-pattern>/question/GetTop20NewQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostQuestion</display-name>
    <servlet-name>PostQuestion</servlet-name>
    <servlet-class>servlets.PostQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostQuestion</servlet-name>
    <url-pattern>/question/PostQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUsers</display-name>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>servlets.GetAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/user/GetAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/user/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/user/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionAuth</display-name>
    <servlet-name>SessionAuth</servlet-name>
    <servlet-class>servlets.SessionAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAuth</servlet-name>
    <url-pattern>/user/SessionAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswersLikes</display-name>
    <servlet-name>AnswersLikes</servlet-name>
    <servlet-class>servlets.AnswersLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswersLikes</servlet-name>
    <url-pattern>/AnswersLikes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAnswersLikes</display-name>
    <servlet-name>GetAnswersLikes</servlet-name>
    <servlet-class>servlets.GetAnswersLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnswersLikes</servlet-name>
    <url-pattern>/GetAnswersLikes</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>CQA Connection</description>
    <res-ref-name>jdbc/CqaDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>GetTopUsers</display-name>
    <servlet-name>GetTopUsers</servlet-name>
    <servlet-class>servlets.GetTopUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopUsers</servlet-name>
    <url-pattern>/user/GetTopUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserQuestions</display-name>
    <servlet-name>GetUserQuestions</servlet-name>
    <servlet-class>servlets.GetUserQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserQuestions</servlet-name>
    <url-pattern>/GetUserQuestions</url-pattern>
    <url-pattern>/GetUserQuestions/name/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserAnswers</display-name>
    <servlet-name>GetUserAnswers</servlet-name>
    <servlet-class>servlets.GetUserAnswers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserAnswers</servlet-name>
    <url-pattern>/GetUserAnswers</url-pattern>
    <url-pattern>/GetUserAnswers/name/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMostPopularTopics</display-name>
    <servlet-name>GetMostPopularTopics</servlet-name>
    <servlet-class>servlets.GetMostPopularTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMostPopularTopics</servlet-name>
    <url-pattern>/topic/GetMostPopularTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQuestionsByTopic</display-name>
    <servlet-name>GetQuestionsByTopic</servlet-name>
    <servlet-class>servlets.GetQuestionsByTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQuestionsByTopic</servlet-name>
    <url-pattern>/question/GetQuestionsByTopic/topic/*</url-pattern>
  </servlet-mapping>
</web-app>